<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbEmpty" connectionString="Data Source=(LocalDB)\TestDatabasetestinstance;Integrated Security=true;MultipleActiveResultSets=True;"/>
    <add name="Db" connectionString="Data Source=(LocalDB)\TestDatabasetestinstance;database=TestDatabase;Integrated Security=true;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>